
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

{% if app.user %}
    <h1>Vous êtes déjà connecté {{ app.user.username }}</h1> 
    <a class="btn btn-primary" href="{{ path('app_logout') }}" role="button">Me déconnecter</a>
{% else %}

    <h1>Connection</h1>

    <div class="mb-3">
        <label for="inputEmail" class = "form-label required">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div class="mb-3">    
        <label for="inputPassword" class = "form-label required">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# If you want to control the URL the user is redirected to on success #}

        {% if custom_redirection is defined %}
        <input type="hidden" name="_target_path" value="{{ custom_redirection }}"/> 
        {% else %}
        {# we do nothing #}
        {% endif %}

        {# See https://symfony.com/doc/current/security/remember_me.html #}
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
        
        <button class="btn btn-lg btn-primary" type="submit">Valider</button>
    </form>
</div>  
{% endif %}
{% endblock %}
