<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <div class="container">

  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Social Links</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      {# 
      <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a> 
      #}
      <a href="https://www.linkedin.com/in/simon-chabrier/" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/SimonChabrier" class="me-4 text-reset"><i class="fab fa-github"></i></a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Row -->
      <div class="row mt-3">

        <!-- Col 1 -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-person-circle"></i> Simon Chabrier</h6>
          <p>Starter Pack avec toutes le fonctionnalités de base pour travailler vite.</p>
        </div>
        <!-- end Col 1 -->

        <!-- Col é -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Technologies</h6>
          <p><a href="#!" class="text-reset">Symfony 5</a></p>
          <p><a href="#!" class="text-reset">Boostrap</a></p>
          <p><a href="#!" class="text-reset">Sass</a></p>
          <p><a href="#!" class="text-reset">Js</a></p>
        </div>
        <!-- End Col 2 -->

        <!-- Col 3 -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Links</h6>
          <p><a href="{{ path('app_login') }}" class="text-reset">Login</a></p>
          <p><a href="{{ path('app_logout') }}" class="text-reset">Logout</a></p>
          <p><a href="{{ path('app_register') }}" class="text-reset">Register</a></p>
          <p><a href="{{ path('app_forgot_password_request') }}" class="text-reset">Reset Password</a></p>
          <p><a href="{{ path('app_forgot_password_request') }}" class="text-reset">Renew Password</a></p>
        </div>
        <!-- End Col 3 -->

        <!-- Col 4 -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Agen</p>
          <p><i class="fas fa-envelope me-3"></i>simonchabrier@gmail.com</p>
          <p><i class="fas fa-phone me-3"></i> 06 63 24 45 87</p>
        </div>
        <!-- End Col 4 -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2022
    {# <a class="text-reset fw-bold" href="#">SC</a> #}
  </div>
  <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->