<!-- Footer start -->
<footer class="text-center text-lg-start bg-light text-muted">
<!-- open container -->
  <div class="container">

    <!-- Start Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>My social links</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        {# 
        <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
        <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a> 
        #}
        <a href="https://www.linkedin.com/in/simon-chabrier/" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/SimonChabrier" class="me-4 text-reset"><i class="fab fa-github"></i></a>
      </div>
      <!-- Right -->
    </section>
    <!-- End Social media -->

    <!-- start 4 sections footer  -->
    <section class="footerSection">
      <div class="container text-center text-md-start mt-5">
        <!-- Open Row -->
        <div class="row mt-3">

          <!-- start Col 1 -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Symfony 5 user Starter Pack comes ready for :</h6>
               <ol>
                <li>Register & Autologin</li>
                <li>Login & Logout</li>
                <li>Email confirmation</li>
                <li>Reset password</li>
                <li>Renew password for user logged-In</li>
                <li>Remember-me</li>
                <li>Redirect on last page visited after login</li>
                <li>Max login attempts</li>
                <li>Command for regenerate App secret</li>
              </ol>
          
          </div>
          <!-- end Col 1 -->

          <!-- start Col 2 -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Technologies</h6>
            <ol>
              <li><a href="https://symfony.com/5" class="text-reset">Symfony 5</a></li>
              <li><a href="https://getbootstrap.com/" class="text-reset">Bootstrap</a></li>
              <li><a href="https://sass-lang.com/" class="text-reset">Sass</a></li>
              <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" class="text-reset">Js</a></li>
              <li><a href="https://developer.nytimes.com/" class="text-reset">Api</a></li>
              <li><a href="https://www.canva.com/" class="text-reset">Canvas</a></li>
              <hr></hr>
                <li><a href="#!" class="text-reset">Mobil First Design</a></li>
                <li><a href="#!" class="text-reset">Full responsive</a></li>
              <hr></hr>
            </ol>
            <h6 class="text-uppercase fw-bold mb-4">Tools</h6>
            <ol>
              <li><a href="https://trello.com/fr" class="text-reset">Trello</a></li>
              <li><a href="https://www.canva.com/" class="text-reset">Canvas</a></li>
              <li><a href="https://whimsical.com/" class="text-reset">Whimsical</a></li>
              <li><a href="https://lucid.app/" class="text-reset">Lucid</a></li>
          </div>
          <!-- end Col 2 -->

          <!-- start Col 3 -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Active Links</h6>
            <ol>
              <li><a href="{{ path('app_login') }}" class="text-reset">Login</a></li>
              <li><a href="{{ path('app_logout') }}" class="text-reset">Logout</a></li>
              <li><a href="{{ path('app_register') }}" class="text-reset">Register</a></li>
              <li><a href="{{ path('app_forgot_password_request') }}" class="text-reset">Reset Password</a></li>
              <li><a href="{{ path('app_forgot_password_request') }}" class="text-reset">Renew Password</a></li>
            </ol>
          </div>
          <!-- end Col 3 -->

          <!-- start Col 4 -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Add Links -->
            <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-person-circle"></i> Simon Chabrier</h6>
            <p><i class="fas fa-home me-3"></i> Agen - 47000 </p>
            <p><i class="fa-solid fa-at me-3"></i></i></i>simonchabrier@gmail.com</p>
            <p><i class="fas fa-phone me-3"></i> 06 63 24 45 87</p>
          </div>
          <!-- end Col 4 -->
        </div>
        <!-- Close row -->
      </div>
    </section>
    <!-- End 4 section Links  -->

      <!-- start Copyright -->
      <div class="text-center p-4">
      <hr></hr>
        <p>© 2022</p>
        {# <a class="text-reset fw-bold" href="#">SC</a> #}
      </div>
      <!-- end Copyright -->

  </div>
  <!-- end container -->  
</footer>
<!-- end Footer -->