<!doctype html>
<html lang="fr">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Symfony Starter Pack with user authenticate"/>
        <meta name="author" content="Simon Chabrier" />
        <meta name="copyright" content="Simon Chabrier" />
        <meta property="MyDevTools" content="Symfony starter pack with full user functionnality" />

         <!-- LinkedIn -->
        {# 
        <meta name="image" property="og:image" content="https:XXXXXXXX/mypicture.jpg"> 
        #}

        <!-- Facebook -->
        {# 
        <meta property="og:title" content="Mon titre" />
        <meta property="og:url" content="lien vers l'appli" />
        <meta property="og:image" content="https:XXXXXXXX/mypicture.jpg" />
        <meta property="og:description" content="Ma description à ajouter ici...." />
        <meta property="og:site_name" content="Nom de l'Application" />
         #}

        <!-- Twitter -->
        {# 
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@SimsChab" />
        <meta name="twitter:creator" content="@SimsChab"/>
        <meta name="twitter:title" content="Nom de l'appli" />
        <meta name="twitter:description" content="Ma description à ajouter ici" />
        <!-- Twitter summary card avec image large de 280x150px -->
        <meta name="twitter:image:src" content="https:XXXXXXXX/mypicture.jpg" /> 
        #}
        
        <!-- Bootstrap CSS & Js -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
        <!-- Boostrap for burgers, sliders etc... -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>   
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        
        <!-- Fontawesome icons CDN -->
        <script src="https://kit.fontawesome.com/115544430d.js" crossorigin="anonymous" defer></script>

        <!-- My App custom CSS -->
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

        <!-- In this App, Google Font are in assets/fonts/poppins for better Google performances 
        use this tool if you need to download and add Google Font locally https://google-webfonts-helper.herokuapp.com/fonts -->
        
        <!-- Add here google font if needed -->
        {# <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet"> #}
       
        <!-- Add My Js -->
        <script src="{{ asset('assets/js/app.js') }}" defer></script> 
        <script src="{{ asset('assets/js/slider_toggle.js') }}" defer></script> 
        
        <!-- Add your favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/favicon.png') }}" type="image/x-icon">

        <title>{% block title %}starterPackUser{% endblock %}</title>    
</head>
    <body>  
        {% include 'fragments/_navbar.html.twig' %}
        
        

        {% block body %}{% endblock %}
        {% include 'fragments/_footer.html.twig' %}
    </body>
</html>
